@media (max-width: 991px){
    .feed-form{
        width: 100%;
        padding: 0 90px 0 90px;
    }
}
@media (max-width: 767px){
    .feed-form{
        width: 100%;
        padding: 0 110px;
    }
}