@media (max-width: 991px){
    .title{
        &_left{
            font-size: 30px;
            text-align: center;
        }
    }
}
@media (max-width: 767px){
    .title{
        &_left{
            font-size: 25px;
            text-align: center;
        }
    }
}
@media (max-width: 575px){
    .title{
        &_left{
            font-size: 22px;
            text-align: center;
        }
    }
}